body {
  background: var(--body-bg);
}

.heading-container {
  background: var(--primary-color);
  color: var(--text-primary);
  text-align: center;
  padding: 2rem;
  /* position: fixed; */
  /* top: 0; */
  /* left: 0; */
  width: 100%;
  /* z-index: 100; */
}
.container-search {
  /* position: fixed; */
  top: 80px;
  left: 0;
  /* width: 100%; */
  /* z-index: 100; */
  /* height: 80px;
  background: var(--primary-color);
  padding: 1rem; */
}
