.gradient-background {
  background: linear-gradient(90deg, #6a5ae2 0%, #ff893b 100%);
}
.heading-container {
  background: var(--primary-color);
  color: var(--text-primary);

  text-align: center;

  padding: 2rem;
}
