.container {
    align-items: center;
    justify-content: center;
    height: 80vh;
    width: 60vw;
    border-radius: 6px;
}

.unselected {
    background: #ffffff;
    color: var(--text-secondary);
}

.selected {
    background: var(--primary-color);
    color: #ffffff;
}

.quiz-choices {
    margin: 20px;
    width: 60%;
}
.quiz-choices li {
    text-decoration: none;
    list-style: none;
    padding: 6px;
    margin: 10px;
    border-radius: 8px;
    width: 100%;
    cursor: pointer;
}

.quiz-button {
  display: flex;
  justify-content: flex-end;
}