body {
  background: var(--body-bg);
}

.heading-container {
  background: var(--primary-color);
  color: var(--text-primary);
  text-align: center;
  padding: 2rem;
  width: 100vw;
  display: block;
  position: sticky;
  top: 0%;
  z-index: 100;
}
.heading-container h1 {
  margin-bottom: 2rem;
}

.centered-row {
  display: flex;
  justify-content: center;
}
