:root {
  --body-bg: linear-gradient(90deg, #6a5ae2 0%, #ff893b 100%);
  --container-bg: #e9e4fd;
  --text-primary: #ffffff;
  --primary-color: #6a5ae2;
  --opacity-primary: #796ae3;
  --secondary-color: #ff8fa3;
  --opacity-secondary: #fea5b5;
  --text-secondary: #0c0a2b;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}
